    .nav_area {
      margin-bottom: -100px;
      display: flex;
      background-color: whitesmoke;
      padding: 80px 0 0 150px;
    }

    .nav {
      position: absolute;
      height: 100vh;
      width: 100%;
      left: -100%;
      background: WhiteSmoke;
      transition: .7s;
      text-align: center;
    }

    .nav ul {
      padding-top: 80px;
    }

    .nav ul li {
      list-style-type: none;
      margin-top: 50px;
      font-size: 25px;
      font-weight: bold;
      font-family: serif;
      color: blue;

    }

    .menu {
      display: inline-block;
      width: 36px;
      height: 32px;
      cursor: pointer;
      position: relative;
      left: 20px;
      top: 30px;
      background-color: blue;
      border-radius: 5px;
    }

    .menu_line--top,
    .menu_line--middle,
    .menu_line--bottom {
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: white;
      position: absolute;
      transition: 0.5s;
    }

    .menu_line--top {
      top: 8px;
      width: 30%;
      right: 15px;
      height: 0.5px;
    }

    .menu_line--middle {
      top: 16px;
      width: 50%;
      right: 8px;
      height: 1px;
    }

    .menu_line--bottom {
      bottom: 8px;
      height: 1px;
      width: 15%;
      right: 18px;
    }

    .menu.open span:nth-of-type(1) {
      top: 14px;
      width: 100%;
      left: 0px;
      transform: rotate(45deg);
    }

    .menu.open span:nth-of-type(2) {
      opacity: 0;
    }

    .menu.open span:nth-of-type(3) {
      top: 14px;
      width: 100%;
      left: 0px;
      transform: rotate(-45deg);
    }

    .in {
      transform: translateX(100%);
    }

    .nav_title {
      display: flex;
    }

    .title_item {
      margin: 25px 0 0 30px;
      font-family: serif;
      color: blue;
      font-size: 30px;
      font-weight: bold;
    }

    .login-text-area {
      background-color: blue;
      color: white;
      padding: 15px;
      margin-bottom: 20px;
      font-size: 25px;
    }

    
    @media screen and (max-width: 768px) {
      .menu {
        left: -70px;
        top: 80px;
      }
  
      .title_item {
        margin: 80px 0 0 -60px;
      }
    }

